@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
body{
    background-color: black;
    color: orange;
    
        font-family: "Yantramanav", sans-serif;
      font-weight: 100;
      font-style: normal;
    
    
}

